/.TEMPORARY/
/venv/
/.idea/
.gitignore
/Pytorch/TorchTutorials/

/Pytorch/Layer/Group_SpikeNSlab.py
/Pytorch/Layer/Group_SpikeNSlab_Ishwaran.py

/.Literature/
/Pytorch/Samplers/.TRASH/


/shell/.toyCode/

/Pytorch/Models/.TRASH/
/Tensorflow/
/Pytorch/Grid/.TRASH/
/Pytorch/Experiments/*Results
/Tensorflow/
